a {border-bottom: 1px dotted #666;text-decoration: none; color:#333;}
a:visited {color:#000;}
a:hover {border-bottom:none;text-decoration: none;color:#333;}

h1 {
    font-weight: bold;
    font-size: 1.3em;
}

hr.dash {
    width: 10px;
    clear: both;
    margin: 10px 0px;
}

div#topbar-wrapper {
    height: 40px;
    width: 100%;
}

div#topbar a {
    border: 0px solid black;
    color: #FFF;
}
div#topbar {
    height: 20px;
    margin: 0px;
    background: none repeat scroll 0% 0% #000 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    color: #000;
    width: 100%;
}

div.block.overflow {
    overflow: hidden;
    /*width: 75%;*/
    margin: 0px auto;
    clear: both;
    position: relative;
    color: #333;
    max-width: 1100px;
}

div.logo a,
div.logo a:visited {
    color: #FFF !important;
}
div.logo {
    font-size: 15px;
    display: inline;
    font-weight: 600;
    font-family: "futura-pt",Helvetica,sans-serif;
    text-transform: uppercase;
    float: left;
    width: 400px;
}

span.blue {
    color: #74C0E2;
}

.mainNav {
    font-family: "futura-pt",Helvetica,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    float: right;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    color: #333;
    width: auto;
}

.mainNav li:first-child {
    margin-left: 0px;
}
.mainNav li {
    list-style: none outside none;
    display: inline-block;
    float: left;
    width: auto;
}

.mainNav {font-family: "futura-pt", Helvetica, sans-serif;font-size:12px; text-transform: uppercase;font-weight: 400;display:inline;float:right;}
.mainNav li {list-style: none; display: inline-block; margin-left:40px;}
.mainNav li:hover {color:#91CECC;cursor:pointer;}
.mainNav li:first-child {margin-left:0;}
.mainNav a {color: inherit; text-decoration: none; border-bottom: 0px;}
.mainNav a:hover {color: inherit; text-decoration: none;}
ul {display: block;list-style-type: none;margin:0; -webkit-padding-start: 0; padding-left: 0px; }

.black .mainNav a, .black .logo {
    color: #FFF;
}

header {
    border-top: 10px #292929 solid;
    height: 180px;
    background-color: #373737;
    padding-top: 10px;
}

header>div.container {
    width: 1100px;
    margin: 0px auto;
}

header>div.container div.info {
    color: #FFF;
    font-size: 1.1em;
}

header>div.container div.info>p {
    padding-top: 20px;
}

header>div.container div#crji-logo {
    width: 300px;
    display: inline-block;
    display: table-cell;
}
header>div.container div#header-text {
    width: 750px;
    display: table-cell;
    vertical-align: middle;
}
header>div.container div#header-text>p {
    width: auto;
    padding: 10px;
    font-size: 1.8em;
    color: #FFF;
}

div.container {
    width: 1100px;
}

main {
    width: 1100px;
    margin: 0px auto;
}

main>section:first-child {
    width: 280px;
    padding: 10px;
    display: table-cell;
    vertical-align: top;
    min-height: 300px;
    /*outline: 1px solid orange;*/
}
main>section:first-child article{
    padding-top: 10px;
    padding-bottom: 10px;
}

main>section:first-child article:last-child > h1{
    padding-bottom: 10px;
}

main>section:first-child article:last-child > p{
    padding-top: 10px;
}

main>section:last-child {
    width: 790px;
    display: table-cell;
    vertical-align: top;
    min-height: 300px;
    /*outline: 1px solid pink;*/
}